<% include partials/blog_header %>
<div class="container">
 	<h1 class="display-1" style="text-align:center;">CESS BLOG</h1>
	<div class="jumbotron">
<div class="row">
	<% blogs.forEach(function(blog){ %>
	<div class="col-lg-6" >
	 <div class="card" style="width:400px">
    <img class="card-img-top img-fluid" src="<%= blog.image %>" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title"><%= blog.title %></h4>
      <p class="card-text"><%= blog.body.substring(0,30) %>....</p>
      <a href="/blogs/<%=blog._id %>" class="btn btn-primary">READ MORE</a>
    </div>
	</div>
	</div>
	<% }); %>
	</div>
    
  </div>
</div>
<% include partials/footer %>
